<% provide(:title, @title) %>

<section id="user_info" class="container content-section text-center">
<div class="row">
  <aside class="col-md-6 col-md-offset-3">
    <section class="user_info">
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "View My Profile", @user %></span><BR>
      <span><b>Microposts:</b> <%= @user.microposts.count %></span>
    </section>

    <section class="stats">
      <%= render "shared/stats" %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
</div>
</section>

<section id="user_info" class="container content-section">
  <div class="col-md-6 col-md-offset-3">
    <h3 class="text-center"><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</section>